<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Pagina Inicial</title>
</head>
<body>
    <a href="{{ url_for('login') }}">
        <button>
            Login
        </button>
    </a><br>
    <a href="{{ url_for('cadastrar') }}">
        <button>
            Cadastrar
        </button>
    </a>
</body>
</html>